@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  font-family: 'Raleway', sans-serif;
}

#ello-svg {
  width: 22rem;
  height: 3rem;
  text-align: center;
}

.remark-slide-content {
  padding: 1em 2em 1em 2em;
  background-size: cover !important;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 1.5rem;
  /*white-space: pre-line;*/
}

.left-column {
  width: 25%;
  height: 92%;
  float: left;
  word-wrap: break-word;
}
.right-column {
  width: 70%;
  float: right;
  padding-top: 1rem;
}

.itriage-info a {
  line-height: 50px;
  vertical-align: top;
}

#glove-left, #glove-right {
  width: 100px;
  height: 125px;
}

.vs {
  line-height: 125px;
  vertical-align: top;
}
.attribution, .attribution a {
  font-size: 1rem;
  color: #ccc;
}

.fade {
  background-color: rgba(120,120,120,0.75);
}

.constrain img {
  max-width: 30rem;
}

.itriage-thumb-ex {
  width: 12rem;
}

.break-word pre {
  white-space: pre-line;
}

.itriage-logo {
  display: block;
  width: 75px;
  height: 100px;
  background: url('../img/itriage-thumb.svg');
  background-size: cover;
  text-indent: -9999px;
}

#itriage-logo-inline:hover {
  fill: #b10142;
  transform: scale(1.2);
}

svg path.plus {
  fill: blue;
}
